<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xmlns:mvc="http://www.springframework.org/schema/mvc"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">-->
<!--    &lt;!&ndash; 扫描controller对应的包,将handler加入到ioc&ndash;&gt;-->
<!--&lt;!&ndash;    <context:component-scan base-package="com.scccy" />&ndash;&gt;-->

<!--    &lt;!&ndash;-->
<!--       注意: 导入mvc命名空间!-->
<!--       mvc:annotation-driven 是一个整合标签-->
<!--                             他会导入handlerMapping和handlerAdapter-->
<!--                             他会导入json数据格式转化器等等!-->
<!--    &ndash;&gt;-->
<!--&lt;!&ndash;    <mvc:annotation-driven />&ndash;&gt;-->


<!--</beans>-->